*.exe
*.pyc
*.m4a
*.so
*.dll
*.dll.manifest
*.o
*.a
*.lib
*.ilk
doc/
lib/
bin/
.vs/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
version.h
.idea/
cmake-build-debug/
scripts/include
scripts/lib
scripts/README.md
scripts/LICENSE
build/
test/test-file
test/test-framework
test/test-input
test/test-logger
test/test-misc
test/test-native
test/test-strutils
test/test-time
*.gcno
*.gcov
*.gcda
coverage-results/
CMakeSettings.json