*.exe

*.pyc

*.m4a

*.so

*.dll

*.dll.manifest
*.o

*.a

*.lib

*.ilk
doc/
lib/
bin/
.vs/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake